section.container.notfound__container
	h1.title 404 - Page not found :(
	h3.subtitle Whoops. Looks lik... wait a minute!!! Again???

	p.title YEEAAAHH!!!! =D
	p.text 
		| I think I know what you're looking for! 
		| #[a.link(href="https://br.linkedin.com/in/andremdc" title="See his LinkedIn" target="_blank") This guy] 
		| is exactly what your team need!
	
	p.text
		| So let's go get some coffee, you will not regret it \o/

	div.notfound__container-button
		p.text 
			| Click #[a.link(href="/" title="Back to home page") here] to back to that amazing page :)
