// Title ----------------------------
.title
	font(h2, primary, bold, uppercase)
	color darken($text-color, 15%)
	margin $space-lg 0 $space


// SubTitle -------------------------
.subtitle
	font(h6, primary, bold, uppercase)
	color $text-color


// Flow text ------------------------
.text
	font(text-large, primary)
	color $text-color