.banner-bottom
	width 100%
	height 568px
	lost-flex-container column
	align-items center
	justify-content center
	background url('../img/banner-bottom.jpg') center center
	background-size cover
	

	&__title
		font(h1, primary, extra-bold, uppercase)
		color #fff
		margin-bottom $space + .5rem
	

